.register-card {
    max-width: 500px;
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: auto;
    display: block; /* asegura el cálculo del aspect-ratio */
    overflow: auto; /* evita que el contenido desborde raro */
}
