.square-card {
    aspect-ratio: 1 / 1;
    position: relative;
    width:280px
    
}
@media (max-width: 900px) {
    .square-card {
        width: 350px;
    }
}
.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.overlay {
    position: absolute;
    inset: 0; 
    background: rgba(128, 128, 128, 0.45);
    z-index: 10;
    pointer-events: all;
}
