@page "/productos"

@using Fluxor.Blazor.Web.Components
@using MudBlazor
@using QP.BlazorWebApp.Application.Features.Products.Components
@using QP.BlazorWebApp.Application.Features.Products.Components.ProductCard
@using QP.BlazorWebApp.Application.Features.Products.Store
@using QP.BlazorWebApp.Application.Features.Products.Store.State
@using QP.BlazorWebApp.Application.Features.Products.Model

@inherits FluxorComponent



<MudStack Direction="Row" Justify="Justify.SpaceBetween" AlignItems="AlignItems.End" Class="mb-3">
    <MudButton Color="Color.Primary"
               Variant="Variant.Filled"
               StartIcon="@Icons.Material.Filled.Add"
               OnClick="OpenCreateDialog">
        Crear producto
    </MudButton>
</MudStack>

@if (ProductsState.Value.ProductsLoading)
{
    <p>Cargando…</p>
}
else if (ProductsState.Value.Products.Count == 0)
{
    <p>No hay productos disponibles.</p>
}
else
{
    <div class="products-grid">
        @foreach (var p in ProductsState.Value.Products)
        {
            <ProductCard product="@p" />
        }
    </div>
}
